.Cont{
  border:solid ;
  max-width: 100vw;
}
.nom{
  color: blue;
 
  size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img{

  height:350px;
  width: 200px;
}
.pp{
  text-align: center;
  color:darkred;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;

}